/* type selectors */
article,
aside,
figure,
footer,
header,
nav,
section {
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 20px;
    width: 760px;
    border: 3px solid blue;
}

h1,
ul {
    margin: 0;
    padding: 0;
}

h1 {
    padding-bottom: 0.5em;
}

img {
    height: 180px;
    width: 240px;
}

/* the styles for the center content */

li {
    padding-right: 10px;
    display: inline;
}
