article,
aside,
figure,
footer,
header,
nav,
section {
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 650px;
    margin: 0 auto;
}

section {
    padding: 15px 25px;
}

h1 {
    font-size: 150%;
    margin-bottom: 0.5em;
}

ul {
    padding-left: 45px;
}

li {
    padding-bottom: 0.5em;
}

p {
    padding-bottom: 0.5em;
}
