article,
aside,
figure,
footer,
header,
nav,
section {
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    margin: 0 auto;
    padding: 20px;
    width: 570px;
    height: 580px;
    border: 3px solid blue;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.3em;
    padding: 0;
    font-size: 140%;
}

h2 {
    font-size: 110%;
    margin-top: 0;
    margin-bottom: 1em;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 0;
}

img {
    margin-right: 10px;
}

.small {
    width: 0;
    height: 0;
}

.large {
    width: 300px;
    height: 375px;
}

.hidden {
    display: none;
}

#book_list li {
    display: inline;
}

#book_list {
    margin-bottom: 1.2em;
}

#book_image {
    float: left;
    width: 290px;
}

#book_desc {
    float: right;
    width: 240px;
}
