/* type selectors */
article,
aside,
figure,
footer,
header,
nav,
section {
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 420px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid blue;
}

h1,
h2,
ul,
p {
    margin: 0;
    padding: 0;
}

h1 {
    padding-bottom: 0.25em;
    color: blue;
}

h2 {
    font-size: 120%;
    padding: 0.5em 0;
}

li {
    padding: 0 0.25em;
    display: inline;
}

#caption,
#gallery {
    text-align: center;
}
