body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 600px;
    border: 3px solid blue;
}

h1 {
    color: blue;
}

section {
    padding: 0 2em 1em;
}

label {
    float: left;
    width: 5em;
    text-align: right;
    padding-bottom: 0.5em;
}

input[type="text"] {
    width: 20em;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

textarea {
    height: 10em;
    width: 20em;
    margin-left: 1em;
    margin-bottom: 0.5em;
}
