/* type selectors */
article,
aside,
figure,
footer,
header,
nav,
section {
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 600px;
    border: 3px solid blue;
    padding: 10px 20px;
}

fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
}

legend {
    color: blue;
    font-weight: bold;
    font-size: 85%;
    margin-bottom: 0.5em;
}

label {
    float: left;
    width: 90px;
}

input,
select {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

input {
    width: 14em;
}

input.left {
    width: 1em;
    padding-left: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0.5em;
}

input.last {
    margin-bottom: 1em;
}

#adults,
#children {
    width: 35px;
}

#smoking {
    width: 1em;
    margin-left: 0;
}

#submit {
    margin-left: 0;
    width: 10em;
}

label.error {
    float: none;
    color: red;
    font-size: 87.5%;
}

.error {
    float: none;
    color: red;
    font-size: 85%;
}
