article,
aside,
figure,
footer,
header,
nav,
section {
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid blue;
}

h1 {
    background: #dfe3e6 url("images/bullet.gif") no-repeat 7px center;
    margin: 0;
    padding: 3px 0 3px 25px;
    border: solid blue 1px;
    color: blue;
}

ul {
    overflow: hidden;
    padding: 0;
    margin-top: 7px;
    margin-bottom: 10px;
    text-align: center;
}

ul li {
    list-style: none;
    margin: 0;
    width: 220px;
}

.bx-wrapper img {
    margin-top: 2em;
}

.bx-caption {
    position: relative;
    text-align: center;
    top: 0;
    height: 2em;
    line-height: 1em;
}

.bx-wrapper {
    margin: 0 auto;
}

.bx-prev {
    position: absolute;
    top: 77px;
    left: -35px;
    width: 31px;
    height: 31px;
    text-indent: -999999px;
    background: url(images/icon_arrow_left.png) no-repeat 0 -31px;
}

.bx-next {
    position: absolute;
    top: 77px;
    right: -35px;
    width: 31px;
    height: 31px;
    text-indent: -999999px;
    background: url(images/icon_arrow_right.png) no-repeat 0 -31px;
}

.bx-next:hover {
    background-position: 0 0;
}

.bx-prev:hover {
    background-position: 0 0;
}

#caption,
#pager {
    color: blue;
    font-size: 90%;
    text-align: center;
}

#caption {
    font-weight: bold;
    margin-bottom: 0;
}

#pager {
    margin-top: 0;
}
