/* type selectors */
article,
aside,
figure,
footer,
header,
nav,
section {
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    padding: 10px 20px;
    width: 550px;
    border: 3px solid blue;
}

h1 {
    color: blue;
    margin-top: 0;
    margin-bottom: 0.5em;
}

h2 {
    color: blue;
    font-size: 120%;
    padding: 0;
    margin-bottom: 0.5em;
}

section {
    padding: 1em 2em;
}

label {
    float: left;
    width: 3em;
    text-align: right;
}

input {
    margin-left: 1em;
    margin-bottom: 0.5em;
}

textarea {
    width: 200px;
    height: 150px;
}
