article,
aside,
figure,
footer,
header,
nav,
section {
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 550px;
    margin: 0 auto;
}

section {
    padding: 15px 25px;
}

h2 {
    font-size: 125%;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 110%;
    margin-bottom: 0.5em;
}

#employee1,
#employee2 {
    list-style-type: none;
    width: 223px;
    height: 250px;
    border: 1px solid blue;
}

#left {
    float: left;
}

#right {
    float: right;
}

p {
    margin-bottom: 5px;
    padding: 5px;
}

.ui-selected {
    color: blue;
}

input {
    margin-top: 10px;
}
