/* So the HTML5 structural tags work in older browsers */
article,
aside,
figure,
figcaption,
footer,
header,
nav,
section {
	display: block;
}

/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}

html {
	background-color: white;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 87.5%;
	width: 800px;
	margin: 0 auto;
	border: 3px solid #800000;
	background-color: #fffded;
}

nav a:focus,
nav a:hover,
article a:hover {
	font-style: italic;
}

img {
	height: 80;
}

/* the styles for the header */
header {
	border-bottom: 3px solid #800000;
	padding: 1.5em 0;
	background-image: -moz-linear-gradient(30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
	background-image: -webkit-linear-gradient(30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
	background-image: -o-linear-gradient(30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
	background-image: linear-gradient(30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
}

header h1 {
	color: #800000;
}

header h2 {
	font-style: italic;
}

header img {
	float: left;
	padding: 0 30px;
}

.shadow {
	text-shadow: 2px 2px 2px #800000;
}

/* the styles for the section */
section {
	clear: left;
	padding: 0 20px 20px;
	width: 525px;
	float: right;
}

section h1 {
	color: #800000;
	font-size: 150%;
	padding: 0.5em 0 0.25em;
}

section h2 {
	font-size: 120%;
	padding-bottom: 0.25em;
}

section p {
	padding-bottom: 0.5em;
}

section blockquote {
	padding: 0 2em;
	font-style: italic;
}

section ul {
	padding: 0 0 1.5em 1.25em;
}

section li {
	padding-bottom: 0.35em;
}

article h1 {
	color: black;
}

article img {
	float: right;
	margin: 1em 0 1em 1em;
	border: 1px solid black;
}

aside {
	width: 215px;
	float: right;
	padding-left: 20px;
	padding-bottom: 20px;
}

aside h1 {
	color: #800000;
	font-size: 150%;
	padding: 0.5em 0 0.25em;
}

aside h2 {
	font-size: 120%;
	padding-bottom: 0.25em;
}

aside img {
	padding-bottom: 1em;
}

/* the styles for the navigation list */
#nav_list ul {
	list-style: none;
	margin-left: 0;
	margin-bottom: 1.5em;
}

#nav_list li {
	width: 200px;
	margin-bottom: 0.5em;
	border: 2px double black;
	border-radius: 10px;
	box-shadow: 3px 3px 0 0 #800000;
	background-image: url("../images/right.jpg");
	background-repeat: no-repeat;
	background-position: 95% center;
}

#nav_list li a {
	display: block;
	font-weight: bold;
	color: black;
	text-decoration: none;
	padding: 0.5em 0 0.5em 1em;
}

/* the styles for the footer */
footer {
	border-top: 3px solid #800000;
	padding: 1em 0;
	clear: both;
}

footer p {
	text-align: center;
}