article,
aside,
figure,
footer,
header,
nav,
section {
	display: block;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 20px;
	width: 600px;
	border: 3px solid blue;
}

h1,
ul {
	margin: 0;
	padding: 0;
}
h2 {
	font-size: 125%;
}
ul {
	list-style-type: none;
}
.hidden {
	display: none;
}
