body {
    background-color: lightgray; 
}

#main-content {
    background-color: #FFFFCD;
    border: 2px solid; 
    border-radius: 10px;
    margin: auto auto; 
    padding: 15px;
    font-family: sans-serif;
    width: 45%;
}

h1 {
    text-align: center; 
}

.ptext1 {
    font-family: "Arial Black", "Aria Bold", Gadget, sans-serif;
    font-size: 18px;
}

.ptext2 {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 18px;
}

.ptext3 {
    font-family: "Brush Script MT", cursive;
    font-size: 22px;
}