article,
aside,
figure,
footer,
header,
nav,
section {
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 82.5%;
    margin: 0 auto;
    width: 690px;
    height: 850px;
    border: 2px solid blue;
}

section {
    padding: 20px;
}

h1,
h2,
article,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 150%;
    margin-bottom: 5px;
}

h2 {
    font-size: 110%;
    margin-bottom: 4px;
}

article {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 25px;
    -webkit-column-gap: 25px;
    column-gap: 25px;
}

p {
    margin-bottom: 6px;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1em;
}

li {
    margin-bottom: 4px;
}

li.last {
    margin-bottom: 6px;
}

#author {
    padding-bottom: 2px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

/* Code a statement that adds CSS properties to the blockquote element */

.pulledquote {
    font-size: 1.3em;
    line-height: inherit;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    padding: 1em 0 1em 0;
    border-top: dotted 1px #000;
    border-bottom: dotted 1px #000;
    width: 30%;
    text-align: center;
}

.pulledquote.right {
    margin: 1em 0 1em 4%;
    float: right;
}

.pulledquote:before {
    content: open-quote;
    margin-right: 0.2em;
}

.pulledquote:after {
    content: close-quote;
    margin-left: 0.2em;
}
